body {
  background-image: url(../resources/images/marc-mueller-Lg8xTZjs6Lg-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  border-bottom: #000 2px solid;

}

li a.active {
  background-color: #4caf50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

p {
  border-radius: 15px;
  margin-left: 28%;
  margin-right: 2%;
  padding:20px;
  float: right;
  background-color: rgba(160,160,160,0.8);
  
}
